header{
    background-color: #82D173;
    color: ;
    text-align: center;
}
main{
    background-color: #82D173;
    color: #82D173;
    text-align: center;
}

.conteiner-card{
    display: flex;
    width: 100%;
    margin: 0px auto;
}

.card{
    padding: 5px;
    border: 2px solid rgb(49, 183, 0);
    margin: 10px;
    background-color: rgba(12, 181, 0, 0.689);
    color: white;
    text-align: center;
}

img{
    width: 170px;
    height: 120px;
}