header{
    background-color: rgb(49, 183, 0);
    color: white;
    text-align: center;
}
main{
    background-color: white;
    color: rgb(31, 154, 0);
    text-align: center;
}

.conteiner-card{
    display: flex;
    width: 100%;
}

.card{
    margin: 0px 20px;
}

img{
    width: 170px;
    height: 120px;
}