header{
    background-color: #7F49B4;
    color: #141414;
    text-align: center;
}
main{
    background-color: white;
    color: #7F49B4;
    text-align: center;
}

.conteiner-card{
    display: flex;
    width: 100%;
    margin: 0px auto;
}

.card{
    padding: 5px;
    border: 2px solid #141414;
    margin: 10px;
    background-color: #141414;
    color: #CFCFCF;
    text-align: center;
}

img{
    width: 170px;
    height: 120px;
}